@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family: "Lora", serif;
  font-size: 20px;
}
h1, h2, h3{
	font-family: "Roboto:wght"
	font-weight: bold;
}
a {
	text-decoration: none;
}
.btn-blue: hover {
	background-color: white;
	padding: 10px 15px;
	border-radius: 15px;
	color: rgb(26, 115, 232);
	font-weight: bold;
	font-family: "Roboto:wght";
}